.App {
text-align: center;
  display: flex;
  border: 1px solid beige;
  justify-content: center;
  align-items: center;
}

.components {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}